<header class="aboutImage" style="background-image: url('/public/images/background2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="mainText">
                    <h1>About Me</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="aboutInfo">
    <div class="container-fluid aboutContainer">
        <article class="aboutText">
            <p>
                I'm Alan also go by NIASKA. Currently a full-stack developer. My passion for coding goes back to my roots of creating art but in a form of a model.
                I've been building Gunpla all my life and my love to create detailed things is why I'm able to make my piece in this world. When I'm not coding, you will definitely 
                find me building Gunpla or work on my car. Hope you enjoy my work!
            </p>
        </article>
    </div>
</section>