<header class="projectImage" style="background-image: url('/public/images/background4.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="mainText">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Include some pics here-->


<section class="projectSection">
    <article class="body">
        <h2 class="proTitle">A little engine that could</h2>
        <p class="content">
        Well, this was definitely a fun little project of mine to test my skills. It started with the idea of finding a fun API and taking that to a level where it 
        does what it said. Introducing the Amiibo Search Engine, you want to find an amiibo figure? Do it with the web application! It was fun to be able to learn how you can 
        call data into your website and have that display all kinds of information with just one little key.
        </p>
    </article>
</section>