<header class="projectImage" style="background-image: url('/public/images/background4.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="mainText">
                  <h1>Contact</h1>
              </div>
          </div>
      </div>
  </div>
</header>

<section class="contactForms">
  <div class="btnGroup">
    <ul>
      <li>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="#">Resume</a>
      </li>
    </ul>
  </div>

  <div class="emailForm">
    <h4 class="emailTitle text-center">If you prefer to email me instead..</h4>
    <form>
      <div class="mb-3">
        <label for="InputEmail" class="form-label">Email address</label>
        <input type="form-control email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="InputName" class="form-label">Name</label>
        <input type="form-control name" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="FormControlTextarea" class="form-label">Message</label>
        <textarea class="form-control message" id="textArea" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="sendIt">Send It</button>
      <div class="progress-bar"></div>
      <svg x="0px" y="0px" viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;">
        <path class="check" class="st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2"/>
      </svg>
    </form>
  </div>
</section>
