<div class="mainTitlePage">
    <h1 class="title-font">
      <span class="titleText">Hi! I'm Alan. A Full-stack Developer.</span>
    </h1>
</div>

<div class="quote">
    <h3 class="quote-font">
        "Everything you put out there is your expression of yourself"
    </h3>
</div>