<section class="container-fluid frontPage" style="background-image: url('/public/images/background.jpg'); width: 100%;">
    <div class="text">
        <h1 class="text-center mainText" id="mainText">Hi! I'm Alan</h1>
        <br>
        <h4 class="text-center secondText" id="secondText">"Everything you put out there is a way to express yourself"</h4>
    </div>
</section>

