<div class="container-fluid">
    <img src="public/images/background.jpg" class="img-fluid" alt="background" style="width: 100%;">
    <div class="text-block">
        <h1 class="text-center mainText">Hi! I'm Alan</h1>
        <br>
        <h4 class="text-center secondText">"Everything you put out there is a way to express yourself"</h4>
    </div>
</div>
       