<section class="display">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="discordBot">
          <div class="card-body">
            <h5 class="card-title">Discord Bot V2</h5>
            <p class="description">A simple Discord Bot that responds to the command given by any of the user 
              in my own dedicated server.
            </p>
            <a href="/discordBot" class="btn btn-primary">Take a look?</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="discordBot">
          <div class="card-body">
            <h5 class="card-title">Nutricalifide</h5>
            <p class="description">A web application that helps the user to select healthier meal recipe
              for whichever session of the day. It also can log how much calorie each meal will contain.
            </p>
            <a href="/nutricalifide" class="btn btn-primary">Take a look?</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="discordBot">
          <div class="card-body">
            <h5 class="card-title">The Plug Select</h5>
            <p class="description">The Plug Select is a web application that gives the user a cool community to bid 
              their favorite luxorious items.The website also gives the user the knowledge of other well-known brand that
              our team find quite fashionable.
            </p>
            <a href="/thePlugSelect" class="btn btn-primary">Take a look?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="discordBot">
          <div class="card-body">
            <h5 class="card-title">Ramen Shop</h5>
            <p class="description">A mockup functional website of a ramen shop that would be used by an alternate version of me. 
              It displays the location/hours, menu, and a brief history of the shop.
            </p>
            <a href="/ramenShop" class="btn btn-primary">Take a look?</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="discordBot">
          <div class="card-body">
            <h5 class="card-title">Amiibo Search Engine</h5>
            <p class="description">A web application that searches for all kinds of amiibo that were ever made. 
            </p>
            <a href="/amiiboEngine" class="btn btn-primary">Take a look?</a>
          </div>
        </div>
      </div>
    

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="discordBot">
                <div class="card-body">
                <h5 class="card-title">Your Tech Blog</h5>
                <p class="description">A simple blogging application that an user can use to communicate their thoughts through
                    a small post.
                    <a href="/yourTechBlog" class="btn btn-primary">Take a look?</a>
                </p>
            </div>
        </div>
    </div>
    
</section>