<header class="projectImage" style="background-image: url('/public/images/background4.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="mainText">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="display">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 300px;">
        <img src="/public/images/discordbot.png" class="card-img-top" alt="discordBot">
        <div class="card-body">
          <h5 class="card-title">Discord Bot V2</h5>
          <a href="/discordBot" class="btn btn-primary">Take a look?</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/public/images/logo.jpeg" class="card-img-top" alt="nutricalifide" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Nutricalifide</h5>
          <a href="/nutricalifide" class="btn btn-primary">Take a look?</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/public/images/newLogo.png" class="card-img-top" alt="thePlugSelect" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">The Plug Select</h5>
          <a href="/thePlugSelect" class="btn btn-primary">Take a look?</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="Ramen Shop" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ramen Shop</h5>
          <a href="/ramenShop" class="btn btn-primary">Take a look?</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/public/images/amiibo.png" class="card-img-top" alt="amiibo Engine" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Amiibo Search Engine</h5>
          <a href="/amiiboEngine" class="btn btn-primary">Take a look?</a>
        </div>
      </div>
    </div>
    

    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="Tech Blog" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Your Tech Blog</h5>
          <a href="/yourTechBlog" class="btn btn-primary">Take a look?</a>
      </div>
    </div>
  </div>  
</section>
