<header class="projectImage" style="background-image: url('/public/images/background4.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="mainText">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Include some pics here-->


<section class="projectSection">
    <article class="body">
        <h2 class="proTitle">Time for a new drip?</h2>
        <p class="content">
        As someone who is pretty invested in art, it matters what you wear on the outside as well. Now my team decided to make a website that basically gives people an opportunity to get 
        luxious items in a fair way. No more just seeing Gucci or LV on the street, how about some other brands across the world? Right now, the website is still in it's early stages but 
        soon, it will have a lot more application that helps the user navigate the website.
        </p>
    </article>
</section>