.container-fluid {
    padding-left: 0%;
    padding-right: 0;
}
.img-fluid {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #212529;
}

.mainText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* about page */
header.aboutImage {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 30rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    clip-path: url('/public/images/background2.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 32%);
}

header.aboutImage:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}

section.aboutImage2 {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 30rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    clip-path: url('/public/images/background2.jpg');
    
}

section.aboutImage2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}